.App {
  text-align: center;
  display: grid;
  max-height: 100vh !important;
  grid-template-areas:
    "header header"
    "order menu-area";
  grid-template-columns: 50% 50%;
  grid-template-rows: 70px auto;
}
button {
  background: rgb(232, 170, 55);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  padding: 10px;
}
button:hover {
  border: none;
  background: peru;
  cursor: pointer;
}
.header {
  color: white;
  grid-area: header;
  background-color: steelblue;
  height: 100%;
}
.order-page {
  grid-area: order;
}
.menu-page {
  grid-area: menu-area;
}
.page-section {
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  max-height: CALC(100vh - 95px);
  overflow: hidden;
}
.food-item {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 90%;
  padding: 5px;
  text-align: left;
}

.page-item-area {
  margin: 0 auto;
  height: CALC(100vh - 180px);
  overflow: scroll;
}
.center-floating-text {
  margin: 50% auto;
  max-width: 90%;
}

.menu-item {
  border: 2px solid black;
  border-radius: 10px;
  width: 450px;
  max-width: 90%;
  margin: 10px auto;
}
